{%  extends "email-layout.html.twig"%}

{% block body %}
    <h2>Bonjour {{ name }},</h2>
    <p>
        Votre mot de passe a été réinitialisé. <br/>
        Voici votre nouveau mot de passe : <br/>
        <p>
            <strong>Mot de passe :</strong> {{ password }} <br>
            <br>
            Cordialement,
        </p>
    </p>
{% endblock %}
